
    /* 1119 × 747*/
    
html {
    /* margin: auto; */
}

body {
    contain: layout;
    width: 1119px;
    height: 747px;
    justify-items: center;
    background-position: center;
    background-repeat: no-repeat;
    /* background-image: url('../img/snow-field.jpeg'); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 1;
}
#gameboard {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#bkg-img {
    opacity: 0.6;
    width: 1119px;
    height: 747px;
    height: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* sprites */
img.p1-sprite {
    /* display: flex; */
    position: fixed;
    width: 400px;
    top: 272px;
    left: 200px;
}

img.p2-sprite {
    /* display: flex; */
    width: 230px;
    position: fixed;
    top: 207px;
    right: 200px;
    transform: scaleX(-1);
}

#p1-effect {
    display: flex;
    position: fixed;
    top: 370px;
    width: 150px;
    opacity: 0;
}

#p1-sprite-points {
    color:red;
    display: flex;
    position: fixed;
    left: 255px;
    top: 400px;
    width: 150px;
    opacity: 0;
    font-size: 30px;;
    font-weight: 900;
    font-family: 'Josefin Sans', sans-serif;
}

#p2-sprite-points {
    color:red;
    display: flex;
    position: fixed;
    right: 180px; 
    top: 400px;
    width: 150px;
    opacity: 0;
    font-size: 30px;;
    font-weight: 900;
    font-family: 'Josefin Sans', sans-serif;
}

#p2-effect {
    position: fixed;
    top: 350px;
    padding: 0px 35px;
    width: 150px;
    opacity: 0;
}

/* battle and stat menus */
.footer {
    display:flex;
    position: fixed;
    bottom: 20px;
    width: 100%;
    justify-content: space-between;    
    color: white
}

.player-containers {
    display: flex;
    border: solid 5px white;
    border-radius: 10px;
    border-style: groove;
    width: 400px;
    justify-content: space-between;
    opacity: 0.8;
    
}

#p1-container {
    flex-direction: row-reverse;
    
}

#p2-container {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}

.battle-menu {
    display: flex;
    background-color: rgb(78, 78, 255);
    flex-flow: column;
    border: solid 5px white;
    border-radius: 10px;
    border-style:groove;
    margin: 1px;
    width: 300px;
    font-size: 20px;;
    font-family: 'Gowun Batang', serif;
}

#p1-battle-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#p2-battle-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

#p1-stats {
    border: solid 3px white;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
}

#p2-stats {
    border: solid 3px white;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
}

.battle-buttons {
    background: transparent;
    border-style: hidden;
    color: white;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 3px;
    font-family: 'Gowun Batang', serif;
}

#test-button {
    position: fixed;
    left:  50%;
}

#p1-stats-nums {
    padding-top: 50px;
    padding-right: 10px;
}
#p2-stats-nums {
    padding-top: 50px;
    padding-right: 10px;
}

/* animations */ 
@keyframes p1-attack { 
    0% {transform: translateX(0%);
        content: url('../gifs/Martial-Hero-run.gif')}
    50% {transform: translate(100%);;
        content: url('../gifs/Martial-Hero-attack.gif')}
    65% {
        content: url('../gifs/Martial-Hero-fall.gif')}
    100% {transform: translateX(0%)}
}
@keyframes p2-attack { 
    0% {transform: translate(0);
        content: url('../gifs/Wizard-attack.gif')}
    50% {transform: translate(-100%);
        content: url('../gifs/Wizard-attack.gif')}
    65% {
        content: url('../gifs/Wizard-attack.gif')}
    100% {transform: translate(0)}
}

@keyframes p1-spell { 
    0% {content: url('../gifs/Martial-Hero-fall.gif');
        transform: translateY(0%)}
    50%{transform: translateY(-30%);}
    80%{transform: translateY(-30%);
        content: url('../gifs/Martial-Hero-fall.gif')}
    100% {content: url('../gifs/Martial-Hero-fall.gif');
        transform: translateY(0%)}
}
@keyframes p2-spell { 
    0% {content: url('../gifs/Wizard-jump.gif');
        transform: translateY(0%)}
    50%{transform: translateY(-30%);}
    80%{transform: translateY(-30%);
        content: url('../gifs/Wizard-jump.gif')}
    100% {content: url('../gifs/Wizard-jump.gif');
        transform: translateY(0%)}
}

@keyframes p1-heal { 
    0% {content: url('../gifs/Martial-Hero-dead.gif')}
    100% {content: url('../gifs/Martial-Hero-dead.gif');}
}
@keyframes p2-heal { 
    0% {content: url('../gifs/Wizard-fall.gif')}
    100% {content: url('../gifs/Wizard-fall.gif');}
}

@keyframes p1-spell-effect{ 
    0% {content: url('../gifs/ManaFlare.gif');
        transform: translateY(0%);
        opacity: 0;}
    50%{transform: translateY(-60%);
        opacity: 1;}
    80%{transform: translateY(-60%);
        content: url('../gifs/ManaFlare.gif')}
    100% {content: url('../gifs/ManaFlare.gif');
        transform: translateY(0%);
        opacity: 0;}
}

@keyframes p1-heal-effect{ 
    0% {content: url('../gifs/Heal.gif');
    opacity: 0.7;}
    100% {content: url('../gifs/Heal.gif');
    opacity: 1;}
}
@keyframes p2-heal-effect{ 
    0% {content: url('../gifs/Heal.gif');
    opacity: 0.7;}
    90% {opacity: 0.7;}
    100% { opacity: 1;
        content: url('../gifs/Heal.gif')}
}

@keyframes p1-hp-points-up {
    0% {transform:translateY(0%);
        opacity: 0}
    25% {opacity: 1;}
    75% {opacity: 1;}
    100%{transform:translateY(-350%);
        color: chartreuse;
        opacity: 0}
}

@keyframes p1-hp-points-down {
    0% {transform:translateY(0%);
        opacity: 0}
    25% {opacity: 1;}
    75% {opacity: 1;}
    100% {transform:translateY(-350%);
        color:white;
        opacity: 0}
}
@keyframes p2-hp-points-down {
    0% {transform:translateY(0%);

        opacity: 0}
    25% {opacity: 1;}
    75% {opacity: 1;}
    100% {transform:translateY(-350%);
        color: white;
        opacity: 0}
}

@keyframes p2-hp-points-up {
    0% {transform:translateY(0%);
        opacity: 0}
    25% {opacity: 1;}
    75% {opacity: 1;}
    100%{transform:translateY(-350%);
        color: chartreuse;
        opacity: 0}
}

@keyframes p1-struck {
    100% {content: url('../gifs/Martial-Hero-take-hit-flash.gif');}
}

@keyframes p1-crit-struck {
    0% {animation-duration: 5s;
        content: url('../gifs/Bloodspurt.gif');
        opacity: 1;}
    100% {content: url('../gifs/Bloodspurt.gif')}
}

@keyframes p2-struck {
    0% {animation-duration: 5s;}
    100% {content: url('../gifs/Wizard-struck.gif');}
}

@keyframes p2-crit-struck {
    0% {animation-duration: 5s;
        content: url('../gifs/Bloodspurt.gif');
        opacity: 1;}
    100% {content: url('../gifs/Bloodspurt.gif')}
}

@keyframes p1-spell-struck {
    0% {content: url('../gifs/Explosion.gif');
        opacity: 0}
        25% {opacity: 0.7;}
        75% {opacity: 0.7;}
        100% {content: url('../gifs/Explosion.gif');
            opacity: 1}
}            

@keyframes p2-spell-struck {
    0% {content: url('../gifs/Explosion.gif');
        opacity: 0}
        25% {opacity: 0.7;}
        75% {opacity: 0.7;}
        100% {content: url('../gifs/Explosion.gif');
            opacity: 1}
        }

@keyframes p1-death {
    0% {content: url('../gifs/Martial-Hero-death.gif');}
    100% {content: url('../gifs/Martial-Hero-dead.gif');}
}

@keyframes p2-death {
    0% {content: url('../gifs/Martial-Hero-death.gif');}
    100% {content: url('../gifs/Wizard-death.gif');}
}



/* look up display:none or visibility options */

/* fonts */
/* font-family: 'Gowun Batang', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Tourney', cursive;
font-family: 'VT323', monospace;
font-family: 'Yomogi', cursive; */